body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #76a0ca;
  line-height: 1.6;
  color: #333;
}

input,
button {
  margin: 0.5rem 0;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #c51818;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

button {
  background-color: #00a339;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #73005c;
  transform: scale(1.03);
}
